package year_{{.Year}}

func init() {
	Solutions[{{.Day}}] = Day{{.Day}}{}
}

type Day{{.Day}} struct{}

func (Day{{.Day}}) Part1(input []byte) string {
	return ""
}

func (Day{{.Day}}) Part2(input []byte) string {
	return ""
}
